body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*********** Hero banner **********/

.hero {
    text-align: center;
    position: absolute;
    height: 540px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 125px;
    color: white;
    overflow: hidden;
    background: url("../img/hero.jpg") 50% 100% no-repeat;
    background-size: 1440px 1315px;
}

.hero h1, .hero h2, .hero a {
    font-weight: 300;
}

.hero h1 {
    font-size: 70px;
    letter-spacing: -2px;
    margin-top: 1em;
    margin-bottom: 10px;
}

.hero a {
    color: white;
    margin-top: 1em;
    font-size: 24px;
    text-decoration: none;
}

.hero a:hover {
    border-bottom: 1px solid white;
}

.text-area {
    position: relative;
    top: 10%;
}

/*********** Main navigation**************/

nav {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    top: 20px;
    text-align: center;
    display: table;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #888888;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))),
                -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) no-repeat 50% 50%, 
                -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
}

nav a {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px #333333;
    text-decoration: none;
    color: #ffffff;
    border-left: 1px solid #888888;
    border-right: 1px solid #555555;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav form {
    display: table-cell;
    width: 120px;
    padding: 6px;
}

nav form input {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 3px 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.5s;

    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))),
                -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) no-repeat 50% 50%, 
                -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    background-image: url("../img/search-w.png");
    background-repeat: no-repeat;
    background-size: 14px 15px;
    background-position: 5% 50%;
    box-shadow: 0 -1px 1px #aaaaaa inset,
                0 2px 1px #000000 inset;
}

nav form input:focus {
    width: 150px;
    background-color: #ffffff;
    background-image: url("../img/search-b.png");
    background-position: 5% 50%;
    background-size: 14px 15px;
    transition: all 0.5s;
}

/*********** Grid section **********/

.promo {
    position: absolute;
    width: 100%;
    top: 542px;
}

.grid {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.grid img {
    width: 25%;
    float: left;
}

/***********  Footer **********/

footer {
    width: 100%;
    position: absolute;
    top: 742px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
}

footer a {
    text-decoration: none;
    color: royalblue;
}

footer img {
    position: relative;
    top: 3px;
}

.links {
    margin: 0 auto;
    max-width: 1000px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}